body{
    background: cornsilk;
}

ul li{
    border: 1px solid black;
    text-align: center;
    width: 1156px;
    margin: auto;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 24px;
    list-style: none;
}

p{
    margin: auto;
    width: 1156px;
    font-size: 24px;
    text-align: center;
}

h1{
    text-align: center;
}
